* {
    box-sizing: border-box;
}

.footer {
    padding-left: 1px;
}

.footer2 {
    padding-right: 20px;
}

.footer3 {
    padding-left: 20px;
}

.class2 {
    padding-top: 70px;
}

.class3 {
    padding-top: 80px;
}

.class4 {
    padding-top: 50px;
}

.footer-xx {
    display: flex;
    justify-content: center;
}

.class-last {
    padding-top: 90px;
    padding-bottom: 80px;
}


/* mobile screen  */
@media(min-width:567px) {
    .footer {
        display: flex;
        padding-left: 50px;
    }

    .footer3 {
        display: flex;
        padding-bottom: -20px;
    }
}

.note {
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {

    .class2,
    .mobile-icon {
        padding-top: 30px;
    }

    .footer-xd {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

}

.footer-xd {
    width: 87%;
    display: flex;
    justify-content: space-between;
}